Flask==3.0.0
Flask_Cors
langchain
pandas
requests
scikit_learn
InstructorEmbedding
chromadb
openai
sentence-transformers
Werkzeug>=3.0.0
scikeras
typing-inspect==0.8.0
typing_extensions==4.5.0
pydantic==1.10.11
text_generation
imblearn
isodate
joblib
tensorflow
psycopg2==2.9.9
openai